<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
    <a href="/" class="navbar-brand">FlixMovies</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
    <ul class="navbar-nav ml-auto mb-2 mb-lg-0 listMenu">
        <li class="nav-item active">
            <a routerLink="/" class="nav-link router-link-active" routerLinkActive="router-link-active">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="/movies" class="nav-link" routerLinkActive="router-link-active">Movies</a>
        </li>
        <li class="nav-item">
            <a routerLink="/tv" class="nav-link" routerLinkActive="router-link-active">TV Shows</a>
        </li>
        <li class="nav-item">
            <a routerLink="/genres" class="nav-link" routerLinkActive="router-link-active">Genres</a>
        </li>
    </ul>
    
</div>

</nav>
<div class=" navmob collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item active">
            
            <a routerLink="/" class="nav-link router-link-active" routerLinkActive="router-link-active">
                <img src="assets/images/home.svg">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/movies" class="nav-link" routerLinkActive="router-link-active">
                <img src="assets/images/videos.svg">
                Movies
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/tv" class="nav-link" routerLinkActive="router-link-active">
                <img src="assets/images/tv.svg">
                TV Shows
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/genres" class="nav-link" routerLinkActive="router-link-active">
                <img src="assets/images/tripod.svg">
                Genres
            </a>
        </li>
    </ul>
</div>
